/************************** Подключение шрифтов **************************/
@font-face {
  font-family: 'Gotham Pro Light';
  src: url('./fonts/GothamPro-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Medium';
  src: url('./fonts/GothamPro-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Black';
  src: url('./fonts/GothamPro-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/************************** Общие свойства **************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gotham Pro', sans-serif;
  color: #fff;
  font-size: 1.5rem;
  text-align: justify;
}

/* .block {
  width: 100%;
  max-width: 1920px;
  height: 100%;
} */

.header {
  background: linear-gradient(to bottom, #A9BA9D 0%, #9AAB8E 100%);
  /* position: absolute;
  top: 0;
  left: 50%;
  margin-left: -650px; */
}

.block-title {
  font-family: 'Gotham Pro Black';
  text-align: center;
  font-size: 5.625rem;
  /* font-weight: bolder; */
  letter-spacing: 1rem;
  filter: drop-shadow(2px 3px 5px rgba(87, 80, 65, 0.63));
  max-width: 1600px;
  margin: 120px auto 160px auto;
  text-decoration: underline;
  text-decoration-thickness: 8px;
}

.dark-theme-content,
.asym-content {
  display: flex;
}

/************************** Кружочки **************************/
.header-circles {
  overflow: hidden;
}

.circle {
  position: absolute;
}

.circle_1 {
  left: 345px;
  top: 320px;
  z-index: 2;
}

.circle_2 {
  left: 390px;
  top: 365px;
}

.circle_3 {
  left: 275px;
  top: 560px;
  z-index: 3;
  filter: drop-shadow(2px 3px 10px rgba(117, 108, 87, 0.63));
}

.circle_4 {
  left: 530px;
  top: 315px;
  z-index: 4;
  filter: drop-shadow(2px 3px 10px rgba(117, 108, 87, 0.63));
}

.circle_5 {
  left: 1050px;
  top: 245px;
  z-index: 5;
  filter: drop-shadow(2px 3px 10px rgba(117, 108, 87, 0.63));
}

.circle_6 {
  left: 1040px;
  top: 460px;
  filter: drop-shadow(2px 3px 10px rgba(117, 108, 87, 0.63));
}

.circle_7 {
  left: 1335px;
  top: 680px;
  filter: drop-shadow(2px 3px 10px rgba(117, 108, 87, 0.63));
}

/************************** Первый блок - темное оформление **************************/
.dark-theme {
  background: linear-gradient(to bottom, #3B3C36 0%, #2C2D27 100%);
}

.dark-theme-text {
  margin-left: 160px;
  max-width: 750px;
  letter-spacing: 0.1875rem;
}

.dark-theme-text>p {
  margin-bottom: 25px;
}

.dark-theme-text>p:last-child {
  margin-bottom: 0;
}

.dark-theme-swiper,
.dark-theme-image {
  width: 700px;
  height: 450px;
}

/************************** Второй блок - асимметричный дизайн **************************/
.asym-block {
  background: linear-gradient(45deg, #996d8e 37%, #066326 37%);
}

.asym-title {
  margin-left: 45px;
  margin-bottom: 90px;
}

.asym-content {
  max-width: 1920px;
  padding: 0 80px 0 50px;
  letter-spacing: 0.1875rem;
}

.asym-text-left {
  max-width: 450px;
}

.asym-text-right {
  max-width: 600px;
  margin-top: 320px;
}

.asym-swiper,
.asym-image {
  width: 650px;
  height: 400px;
}

.asym-swiper {
  margin-top: 70px;
}

/************************** Третий блок - адаптивный дизайн **************************/
.mobile-block {
  background: #44A08D;
  background: -webkit-linear-gradient(to top, #093637, #44A08D);
  background: linear-gradient(to top, #093637, #44A08D);
}

.mobile-title {
  margin-bottom: 80px;
}

.mobile-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-text {
  max-width: 600px;
  margin-right: 80px;
}

.mobile-text > p {
  margin-bottom: 10px;
}

.mobile-image > img {
  max-width: 600px;
  max-height: 600px;
}

/************************** Четвертый блок - с видео **************************/
.overlay {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

#nubexDiv {
  overflow: hidden;
}

#nubexVideo {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.video-title {
  font-family: 'Gotham Pro Black';
  text-align: center;
  font-size: 5.625rem;
  filter: drop-shadow(2px 3px 5px rgba(87, 80, 65, 0.63));
  padding-top: 30px;
  letter-spacing: 15px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -500px;  
  text-decoration: underline;
  text-decoration-thickness: 8px;
}

.video-text {
  position: absolute;
  display: flex;
  max-width: 1400px;
  max-height: 650px;
  top: 50%;
  margin-top: -305px;
  left: 50%;
  margin-left: -700px;
}

.video-text>p {
  margin-right: 25px;
  margin-left: 25px;
}

.video-text>p:last-child {
  margin-right: 0;
}

.video-text>p:first-child {
  margin-left: 0;
}

.video-swiper {
  position: absolute;
  bottom: 15%;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  height: 350px;
}

.video-image {
  width: 600px;
  height: 350px;
}

/************************** Свойства слайдера **************************/
.swiper-container {
  border-radius: 10%;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(146, 146, 146);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #fff;
}

.swiper-button-prev {
  left: 5px;
}

.swiper-button-next {
  right: 5px;
}

:root {
  --swiper-navigation-size: 24px;
}

/************************** Свойства FullPage.js **************************/
#fp-nav ul li .fp-tooltip {
  font-family: 'Gotham Pro', sans-serif;
  font-size: 1rem;
  /* top: -4px; */
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #f2f2f2;
}

.fp-tableCell {
  vertical-align: top;
}

/************************** Свойства предзагрузочного экрана **************************/
.mask {
  width: 100%;
  height: 100%;
  background: #e6e5e5;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 105px;
  height: 105px;
  border: 15px solid rgba(244, 200, 140, 0.6);
  border-radius: 50%;
  border-left-color:#f4c88c;
  animation: loader 1.3s linear infinite;
 }
 @keyframes loader {
  100% {
   transform: rotate(360deg);
  }
 }

.hide {
  opacity: 0;
}

/************************** Медиа запросы **************************/
@media(max-width:1440px) {
  .dark-theme-text {
    max-width: 600px;
    margin-left: 80px;
  }
  .dark-theme-swiper,
  .dark-theme-image {
    width: 600px;
    height: 400px;
  }
  .asym-title,
  .block-title,
  .video-title {
    font-size: 4.8rem;
  }
  .asym-content,
  .dark-theme-content,
  .video-text {
    font-size: 1.3rem;
  }
  .asym-swiper,
  .asym-image {
    width: 480px;
    height: 300px;
  }
  .asym-swiper {margin-top: 130px;}
  .asym-text-left {
    max-width: 350px;
  }
  .asym-text-right {
    max-width: 400px;
    margin-top: 250px;
  }
  .video-text {
    max-width: 1200px;
    margin-left: -600px;
    margin-top: 0;
    top: 20%;
  }
  .video-title {
    margin-left: -400px;
  }
  .video-swiper {
    margin-top: 0;
    top: 52%;
  }
  #nubexVideo {
    max-height: 876px;
  }
}

@media(max-width:1366px) {
  .block-title {margin: 30px auto 60px auto;}
}

@media(max-width:1024px) {
  /* .block-title,
  .video-title {
    font-size: 3.5rem;
  } */
  .asym-content,
  .dark-theme-content,
  .video-content
  .mobile-content {
    font-size: 1.07rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .video-text {
    font-size: 1.07rem;
    top: 16%;
  }
  .block-title,
  .asym-title {
    margin: 25px auto 30px auto;
  }
  .asym-title {font-size: 3.3rem;}
  .dark-theme-text,
  .asym-text-left,
  .asym-text-right {
    margin: auto;
    max-width: 700px;
  }
  .dark-theme-text>p {
    margin-bottom: 8px;
  }
  .dark-theme-swiper,
  .dark-theme-image,
  .asym-swiper,
  .asym-image,
  .video-image,
  .video-swiper {
    width: 600px;
    height: 300px;    
  }
  .dark-theme-swiper,
  .asym-swiper {margin: 25px auto}
  .asym-text-right {margin-top: 0;margin-left: 20px;}
  
  .mobile-image img {
    max-width: 500px;
    margin-top: 25px;
  }
  .video-text {
    max-width: 850px;
    margin-left: -425px;
  }
  .video-swiper {top: 47%;}  
  .mobile-text {
    max-width: 350px;
    margin-right: 25px;
    font-size: 1.2rem;
  }
}

@media(max-width:768px) {
  .asym-content,
  .dark-theme-content,
  .video-content
  .mobile-content {
    font-size: 1rem;
  }
  .asym-title {
    font-size: 3.2rem;
    margin: 25px auto;
  }
  .asym-swiper {margin: 15px auto}
  .mobile-title {font-size: 3.2rem; margin: 15px auto;}
  .mobile-content {flex-direction: column;}
  .mobile-text {max-width: 700px;}
  .mobile-image img {max-width: 450px; margin: 0 auto;}
  .mobile-text > p {margin-bottom: 25px;}
  .video-title {
    font-size: 3.2rem;
    margin-left: -300px;
  }
  .video-text {
    max-width: 700px;
    margin-left: -350px;
    top: 13%;
  }
  .video-swiper {
    top: 50%;
  }
}

@media(max-width:425px) {
  .block-title,
  .asym-title {
    font-size: 2.4rem;
    margin: 15px auto 20px auto;
    letter-spacing: 0.2rem;
    text-decoration-thickness: 3px;
  }
  .asym-content,
  .dark-theme-content,
  .mobile-content,
  .mobile-text {
    font-size: 0.8rem;
    max-width: 300px;
    margin: auto;
    padding: 0;
  }
  .mobile-image img {max-width: 300px;}
  .mobile-text {font-size: 0.8rem; margin:auto}
  .dark-theme-swiper,
  .dark-theme-image,
  .asym-swiper,
  .asym-image,
  .video-image,
  .video-swiper {
    width: 300px;
    height: 150px;    
  }
  #fp-nav ul li .fp-tooltip.fp-right {right: 17px}
  #fp-nav ul li .fp-tooltip {font-size: 0.7rem}
  .video-title {
    font-size: 2.4rem;
    margin-left: -190px;
    text-decoration-thickness: 3px;
  }
  .video-content {flex-direction: row;}
  .video-text {
    max-width: 300px;
    flex-direction: column;
  }
}
