/************************** Подключение шрифтов **************************/
@font-face {
  font-family: 'Gotham Pro Light';
  src: url('./fonts/GothamPro-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Medium';
  src: url('./fonts/GothamPro-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Black';
  src: url('./fonts/GothamPro-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/************************** Общие свойства **************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gotham Pro', sans-serif;
  color: #fff;
  font-size: 1.5rem;
  text-align: justify;
}

/* .block {
  width: 100%;
  max-width: 1920px;
  height: 100%;
} */

.header {
  background: linear-gradient(to bottom, #A9BA9D 0%, #9AAB8E 100%);
  /* position: absolute;
  top: 0;
  left: 50%;
  margin-left: -650px; */
}

.block-title {
  font-family: 'Gotham Pro Black';
  text-align: center;
  font-size: 5.625rem;
  /* font-weight: bolder; */
  letter-spacing: 1rem;
  filter: drop-shadow(2px 3px 5px rgba(87, 80, 65, 0.63));
  max-width: 1600px;
  margin: 120px auto 160px auto;
  text-decoration: underline;
  text-decoration-thickness: 8px;
}

.dark-theme-content,
.asym-content,
.gradient-content {
  display: flex;
}

/* .section {
  padding: 60px 0;
} */

/************************** Кружочки **************************/
.header-circles {
  overflow: hidden;
}

.circle {
  position: absolute;
}

.circle_1 {
  left: 345px;
  top: 320px;
  z-index: 2;
}

.circle_2 {
  left: 390px;
  top: 365px;
}

.circle_3 {
  left: 275px;
  top: 560px;
  z-index: 3;
  filter: drop-shadow(2px 3px 10px rgba(117, 108, 87, 0.63));
}

.circle_4 {
  left: 530px;
  top: 315px;
  z-index: 4;
  filter: drop-shadow(2px 3px 10px rgba(117, 108, 87, 0.63));
}

.circle_5 {
  left: 1050px;
  top: 245px;
  z-index: 5;
}

.circle_6 {
  left: 1040px;
  top: 460px;
  filter: drop-shadow(2px 3px 10px rgba(117, 108, 87, 0.63));
}

.circle_7 {
  left: 1335px;
  top: 680px;
  filter: drop-shadow(2px 3px 10px rgba(117, 108, 87, 0.63));
}

/************************** Первый блок - темное оформление **************************/
.dark-theme {
  background: linear-gradient(to bottom, #3B3C36 0%, #2C2D27 100%);
}

.dark-theme-text {
  margin-left: 160px;
  max-width: 750px;
  letter-spacing: 0.1875rem;
}

.dark-theme-text>p {
  margin-bottom: 25px;
}

.dark-theme-text>p:last-child {
  margin-bottom: 0;
}

.dark-theme-swiper,
.dark-theme-image {
  width: 700px;
  height: 450px;
}

/************************** Второй блок - асимметричный дизайн **************************/
.asym-block {
  background: linear-gradient(45deg, #996d8e 37%, #066326 37%);
}

.asym-title {
  margin-left: 45px;
  margin-bottom: 90px;
}

.asym-content {
  max-width: 1920px;
  padding: 0 80px 0 50px;
  letter-spacing: 0.1875rem;
}

.asym-text-left {
  max-width: 450px;
}

.asym-text-right {
  max-width: 600px;
  margin-top: 320px;
}

.asym-swiper,
.asym-image {
  width: 650px;
  height: 400px;
}

.asym-swiper {
  margin-top: 70px;
}

/************************** Третий блок - адаптивный дизайн **************************/
.mobile-block {
  background: #44A08D;
  background: -webkit-linear-gradient(to top, #093637, #44A08D);
  background: linear-gradient(to top, #093637, #44A08D);
}

.mobile-title {
  margin-bottom: 80px;
}

.mobile-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-text {
  max-width: 600px;
  margin-right: 80px;
}

.mobile-text > p {
  margin-bottom: 10px;
}

.mobile-image > img {
  max-width: 600px;
  max-height: 600px;
}

/************************** Четвертый блок - градиенты **************************/
.gradient-block {
  background-color: #FF3CAC;
  background-image: linear-gradient(45deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.gradient-title {
  margin: 80px auto 100px;
}

.gradient-content {
  margin: auto;
}

.gradient-swiper,
.gradient-image {
  width: 700px;
  height: 450px;
}

.gradient-swiper {
  margin-top: 45px;
}

.gradient-text {
  margin-left: 160px;
  max-width: 750px;
  letter-spacing: 0.1875rem;
}

.gradient-text>p {
  margin-bottom: 25px;
}

.gradient-text>p:last-child {
  margin-bottom: 0;
}

/************************** Пятый блок - с видео **************************/
.overlay {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

#nubexDiv {
  overflow: hidden;
}

#nubexVideo {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.video-title {
  font-family: 'Gotham Pro Black';
  text-align: center;
  font-size: 5.625rem;
  filter: drop-shadow(2px 3px 5px rgba(87, 80, 65, 0.63));
  padding-top: 30px;
  letter-spacing: 15px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -500px;  
  text-decoration: underline;
  text-decoration-thickness: 8px;
}

.video-text {
  position: absolute;
  display: flex;
  max-width: 1400px;
  max-height: 650px;
  top: 50%;
  margin-top: -305px;
  left: 50%;
  margin-left: -700px;
}

.video-text>p {
  margin-right: 25px;
  margin-left: 25px;
}

.video-text>p:last-child {
  margin-right: 0;
}

.video-text>p:first-child {
  margin-left: 0;
}

.video-swiper {
  position: absolute;
  bottom: 15%;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  height: 350px;
}

.video-image {
  width: 600px;
  height: 350px;
}

/************************** Последний блок - авторский **************************/
.author {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}

.author-title {
  margin: 60px auto 70px auto;
}

.author-content {
  width: 100%;
  max-width: 650px;
  margin: auto;
  text-align: left;
}

.author-content > p {
  margin-bottom: 25px;
}

.author-content > p:last-child{margin: 0;}

.author-link {
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.author-link:hover {
  background-size: 100% 2px;
}

/************************** Свойства слайдера **************************/
.swiper-container {
  border-radius: 10%;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(146, 146, 146);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #fff;
}

.swiper-button-prev {
  left: 5px;
}

.swiper-button-next {
  right: 5px;
}

:root {
  --swiper-navigation-size: 24px;
}

/************************** Свойства FullPage.js **************************/
#fp-nav ul li .fp-tooltip {
  font-family: 'Gotham Pro', sans-serif;
  font-size: 1rem;
  /* top: -4px; */
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #f2f2f2;
}

.fp-tableCell {
  vertical-align: top;
}

/************************** Свойства предзагрузочного экрана **************************/
.mask {
  width: 100%;
  height: 100%;
  background: #e6e5e5;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 105px;
  height: 105px;
  border: 15px solid rgba(244, 200, 140, 0.6);
  border-radius: 50%;
  border-left-color:#f4c88c;
  animation: loader 1.3s linear infinite;
 }
 @keyframes loader {
  100% {
   transform: rotate(360deg);
  }
 }

.hide {
  opacity: 0;
}

/************************** Медиа запросы **************************/
@media(max-width:1440px) {
  .dark-theme-text,
  .gradient-text {
    max-width: 600px;
    margin-left: 80px;
  }
  .dark-theme-swiper,
  .dark-theme-image,
  .gradient-swiper,
  .gradient-image {
    width: 600px;
    height: 400px;
  }
  .asym-title,
  .block-title,
  .video-title {
    font-size: 4.8rem;
  }
  .asym-content,
  .dark-theme-content,
  .video-text,
  .author-content,
  .gradient-content {
    font-size: 1.3rem;
  }
  .asym-swiper,
  .asym-image {
    width: 480px;
    height: 300px;
  }
  .asym-swiper {margin-top: 130px;}
  .asym-text-left {
    max-width: 350px;
  }
  .asym-text-right {
    max-width: 400px;
    margin-top: 250px;
  }
  .video-text {
    max-width: 1200px;
    margin-left: -600px;
    margin-top: 0;
    top: 16%;
  }
  .video-title {
    margin-left: -400px;
  }
  .video-swiper {
    margin-top: 0;
    top: 50%;
  }
  .circle_1 {left: 140px; top: 335px} 
  .circle_1 > img {width:70px;} 
  .circle_2 {left: 160px;}
  .circle_2 > img {width:120px;}
  .circle_3 {left: 85px; top: 540px;}
  .circle_3 > img {width:362px;}
  .circle_4 {left: 300px; top: 295px;}
  .circle_4 > img {width:612px;}
  .circle_5 {left: 770px;}
  .circle_5 > img {width:320px;}
  .circle_6 {left: 810px;}
  .circle_6 > img {width:431px;}
  .circle_7 {left: 1100px; top: 650px}
  .circle_7 > img {width:262px;}
  #nubexVideo {height: 900px}
}

@media(max-width:1366px) {
  .block-title {margin: 70px auto 40px auto;}
  .asym-swiper {margin-left: 25px; margin-right: 25px;}
  .circle_1 {top: 215px;}  
  .circle_2 {top: 245px;}  
  .circle_3 {top: 410px;}
  .circle_3 > img {width:340px;} 
  .circle_4 {top: 195px;}
  .circle_4 > img {width:560px;}  
  .circle_5 {top: 180px;filter: drop-shadow(2px 3px 10px rgba(117, 108, 87, 0.63));} 
  .circle_5 > img {width:270px;} 
  .circle_6 {top: 340px; left: 770px}
  .circle_6 > img {width:400px;}
  .circle_7 {top: 505px; left: 1050px}
  .video-title {padding-top: 15px;}
  #nubexVideo {height: 768px}
}

@media (max-width: 1280px) and (max-height: 720px) {
  .asym-content,
  .dark-theme-content,
  .mobile-content,
  .author-content,
  .gradient-content {
    font-size: 1rem;
    max-width: 1020px;
    margin: auto;
  }
  .dark-theme-text,
  .gradient-text {
    max-width: 450px;
    margin-left: 20px;
  }
  .asym-title, .block-title, .video-title {
    font-size: 4rem;
    margin-top: 50px;
  }
  .dark-theme-swiper,
  .dark-theme-image,
  .asym-swiper,
  .asym-image,
  .video-image,
  .video-swiper,
  .gradient-swiper,
  .gradient-image {
    width: 500px;
    height: 300px;
  }
  .header {
    z-index: -2;
  }
  .circle_4 {
    z-index: 0;
  }
  .circle_6 {
    z-index: -1;
  }
  .asym-content {
    max-width: 1100px;
    padding: 0;
  }
  .asym-text-left,
  .asym-text-right {
    max-width: 300px;
  }
  .mobile-image > img {
    max-width: 500px;
  }
  .mobile-content {
    margin-top: 80px;
  }
  .mobile-text {
    max-width: 450px;
    margin-right: 40px;
  }
  .video-text {
    font-size: 1rem;
  }
  .video-swiper {
    top: 43%;
  }
  .video-text {
    max-width: 1024px;
    margin-left: -512px;
    top: 17%;
  }
  .video-title {
    margin-top: 25px;
  }
}

@media(max-width:1024px) {
  /* .block-title,
  .video-title {
    font-size: 3.5rem;
  } */
  .asym-content,
  .dark-theme-content,
  .video-content
  .mobile-content,
  .author-content,
  .gradient-content {
    font-size: 1.07rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .video-text {
    font-size: 1.07rem;
  }
  .block-title,
  .asym-title {
    margin: 25px auto 30px auto;
  }
  .asym-title {font-size: 3.3rem;}
  .dark-theme-text,
  .asym-text-left,
  .asym-text-right,
  .gradient-text {
    margin: auto;
    max-width: 700px;
  }
  .dark-theme-text>p {
    margin-bottom: 8px;
  }
  .dark-theme-swiper,
  .dark-theme-image,
  .asym-swiper,
  .asym-image,
  .video-image,
  .video-swiper,
  .gradient-swiper,
  .gradient-image {
    width: 600px;
    height: 300px;    
  }
  .dark-theme-swiper,
  .asym-swiper,
  .gradient-swiper {margin: 25px auto}
  .asym-text-right {margin-top: 0;margin-left: 20px;}
  
  .mobile-image img {
    max-width: 500px;
    margin-top: 25px;
  }
  .video-text {
    max-width: 850px;
    margin-left: -425px;
  }
  .mobile-text {
    max-width: 350px;
    margin-right: 25px;
    font-size: 1.2rem;
  }
  .author-title {
    margin-bottom: 80px;
  }
  .circle_1 {top: 285px;left: 90px;}
  .circle_1 > img {width:60px;} 
  .circle_2 {top: 305px;left: 110px;}
  .circle_2 > img {width:100px;} 
  .circle_3 {top: 460px;left: 60px;}
  .circle_3 > img {width:250px;} 
  .circle_4 {top: 280px;left: 210px}
  .circle_4 > img {width:460px;}  
  .circle_5 {top: 270px;left: 560px;} 
  .circle_5 > img {width:220px;} 
  .circle_6 {top: 400px;left: 590px;}
  .circle_6 > img {width:310px;}
  .circle_7 {top: 505px;left: 810px;}
  .circle_7 > img {width:210px;}
}

@media(max-width:768px) {
  .asym-content,
  .dark-theme-content,
  .video-content
  .mobile-content,
  .author-content,
  .gradient-content {
    font-size: 1rem;
  }
  .asym-title {
    font-size: 3.2rem;
    margin: 25px auto;
  }
  .asym-swiper {margin: 15px auto}
  .mobile-title {font-size: 3.2rem; margin: 15px auto;}
  .mobile-content {flex-direction: column;}
  .mobile-text {max-width: 700px;}
  .mobile-image img {max-width: 450px; margin: 0 auto;}
  .mobile-text > p {margin-bottom: 25px;}
  .video-title {
    font-size: 3.2rem;
    margin-left: -300px;
  }
  .video-text {
    max-width: 700px;
    margin-left: -350px;
    top: 10%;
  }
  .video-swiper {
    top: 50%;
  }
  .circle_1 {top: 285px;left: 90px;}
  .circle_1 > img {width:60px;} 
  .circle_2 {top: 305px;left: 110px;}
  .circle_2 > img {width:90px;} 
  .circle_3 {top: 460px;left: 70px;}
  .circle_3 > img {width:185px;} 
  .circle_4 {top: 350px;left: 180px;}
  .circle_4 > img {width:290px;}  
  .circle_5 {top: 300px;left: 405px;}
  .circle_5 > img {width:170px;} 
  .circle_6 {top: 400px;left: 430px;}
  .circle_6 > img {width:215px;}
  .circle_7 {top: 465px;left: 580px;}
  .circle_7 > img {width:165px;}
}

@media(max-width:720px) {
  /* .section {padding: 0 20px;}
  .section:last-child {padding:0} */
}

@media(max-width: 430px) {
  .overlay {
    background-image: url("./img/video/video-1.jpg");
  }
  .gradient-text > p {margin-bottom: 10px;}
  .gradient-swiper {margin-top: 10px;}
  .gradient-title {margin-bottom: 15px;}

@media(max-width:450px) {
  .block-title,
  .asym-title {
    font-size: 2.4rem;
    margin: 15px auto 20px auto;
    letter-spacing: 0.2rem;
    text-decoration-thickness: 4px;
  }
  .asym-content,
  .dark-theme-content,
  .mobile-content,
  .mobile-text,
  .author-content,
  .gradient-content {
    font-size: 1rem;
    max-width: 360px;
    margin: auto;
    padding: 0;
    letter-spacing: 0;
  }
  .dark-theme-text,
  .gradient-text {letter-spacing: 0;}
  .mobile-image img {max-width: 300px;}
  .mobile-text {font-size: 1rem; margin:auto}
  .dark-theme-swiper,
  .dark-theme-image,
  .asym-swiper,
  .asym-image,
  .video-image,
  .video-swiper,
  .gradient-swiper,
  .gradient-image {
    width: 360px;
    height: 180px;    
  }
  #fp-nav ul li .fp-tooltip.fp-right {right: 17px}
  #fp-nav ul li .fp-tooltip {font-size: 0.7rem}
  .video-title {
    font-size: 2.4rem;
    margin-left: -175px;
    text-decoration-thickness: 4px;
    padding-top: 20px;
    letter-spacing: 0.2rem;
  }
  .video-text {
    max-width: 360px;
    margin-left: -185px;
    font-size: 1rem;
    flex-direction: column;
    top: 15%;
  }
  .video-text > p {
    margin: 0 0 15px 0;
  }
  .video-text > p:last-child {margin: 0;}
  .video-swiper {
    margin-left: -190px;
    top: 76%;
  }
  #fp-nav.fp-right {
    right: 1px;
  }
  .author-title {
    margin-bottom: 40px;
  }
  .circle_1 {top: 150px;left: 15px;}
  .circle_1 > img {width: 40px;}
  .circle_2 {top: 165px;left: 30px;}
  .circle_2 > img {width: 70px;}
  .circle_3 {top: 320px;left: 10px;}
  .circle_3 > img {width: 140px;}
  .circle_4 {top: 185px;left: 75px;}
  .circle_4 > img {width: 240px;}
  .circle_5 {top: 135px;left: 230px;}
  .circle_5 > img {width: 150px;}
  .circle_6 {top: 470px;left: 75px;}
  .circle_7 {top: 420px;left: 200px;}
}

@media(max-width:375px) {
  .asym-content,
  .dark-theme-content,
  .mobile-content,
  .mobile-text,
  .author-content,
  .gradient-content {
    font-size: 0.8rem;
    max-width: 320px;
  }
  .dark-theme-swiper,
  .dark-theme-image,
  .asym-swiper,
  .asym-image,
  .video-image,
  .video-swiper,
  .gradient-swiper,
  .gradient-image {
    width: 300px;
    height: 150px;    
  }
  .video-text {
    max-width: 320px;
    margin-left: -165px;
    font-size: 0.8rem;
  }
  .video-swiper {
    margin-left: -150px;
    top: 65%;
  }
  .block-title, .asym-title {
    font-size: 2.2rem;
  }
  .video-title {margin-top: 0px;}
  .circle_1 {top: 110px;left: 15px;}
  .circle_1 > img {width: 40px;}
  .circle_2 {top: 125px;left: 30px;}
  .circle_2 > img {width: 70px;}
  .circle_3 {top: 280px;left: 10px;}
  .circle_3 > img {width: 140px;}
  .circle_4 {top: 145px;left: 75px;}
  .circle_4 > img {width: 240px;}
  .circle_5 {top: 110px;left: 215px;}
  .circle_5 > img {width: 130px;}
  .circle_6 {top: 370px;left: 215px;}
  .circle_7 {top: 445px;left: 120px;}
}
